html,body{
  height: 100%;
  }
body {
  width: 100%;
  background-color: #000;
  margin: 0;
  font-family: 'Lato', sans-serif;

}

[src*=".jpg"] {
  width: 100%;
}
[src*=".gif"] {
  width: 100%;
}

img{
  display: block;
}
*{
  box-sizing: border-box;
}

#lightbox{
  display: none;
}
main{
  max-width: 960px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right:0px;
  background-color: #fff;
  height: 100%;
  overflow:auto;

}
.home{
  min-height: 40px;
  margin: 0 auto;
  padding: 10px;
  background-color: #e23636;
  color: #fff;
}
.home-icon{
  max-width: 40px;
  margin-left: auto;
  margin-right: auto;
}
.navLetter{
  padding: 0px;
}
ul{
 padding: 0px;
    display: inline-block;
    margin: 0px;

}
li{
  font-family: 'Archivo Black', sans-serif;
}
nav{
  color:#000;
  width: 75%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav li{
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}
.container{
  width: 100%;
  margin-top: 20px;
}
a h3{
  margin: 5px;
}
.heading{
 width: 100%;
 text-align: center;
 margin-top: 0px;
}
button{
  width: 100%;
  border: none;
  padding: 0;
}
.query-results{
  padding: 10px;
}

#letter-group{
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
  padding-top: 30px;
}
#letter-result{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;

}
.sectionID{
  padding-left: 25px;
  display: none;
}
.hero-viewed{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000;
  border-radius: 10px 10px 0px 0px;

}
.hero-bio{
  background-color: 00CFFF;
  color: #fff;

}
.hero-name{
  margin-top: 0;
  background-color:#000;
  color: #fff;
  padding: 10px 3px 10px 3px;
  border-radius: 0px 0px 10px 10px;
  height: 60px;
  width: 100%;

  font-weight: bold;

}

.hidden{
  visibility: hidden;
}
.img-thumb{
  width: 200px;
}
[class*='col-'] {
  float: left;
  padding-left: 1.04%;
  padding-right: 1.04%;
}

.loader{
  margin: 0 auto;
}
.row {
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  text-align: center;
}


container{
  max-width: 960px;
  height: 100%;
}

footer{
   height:100px;
   width:100%;
   color: #fff;
   background:#e23636;
   text-align: center;
   margin: 0 auto;
   padding: 30px 10px 0px 10px;
   font-size: 20px;

}
a:link {
    text-decoration: none;
    color: black;
}
footer a:link {
    text-decoration: none;
    color: #fff;
}
footer a:hover {
    text-decoration: none;
    color: rgb(223, 226, 33);
}
a:visited {
    text-decoration: none;
    color: black;
}
.home a:visited {
    text-decoration: none;
    color: #fff;
}


a:hover {
    text-decoration: none;
    color:#6495ED;
}

a:active {
    text-decoration: underline;
}
.col-4{
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  text-align: center;
  max-width: 100%;
}
.col-2{
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  text-align: center;
  max-width: 50%;
}
@media only screen and (max-width: 850px){
  nav{
    width: 90%;
    }

   .col-5{
    width: 25%;
    text-align: center;
    margin-top: 10px;
    margin-bottom:  10px;
  }

}

@media only screen and (max-width: 450px) {
  .col-5{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 650px) {

  .col-5{
    width: 50%;
    font-size: 16px;
    text-align: center;
  }
  .hero-name{font-size: 16px}
}


/* Clearfix */

.row::before, .row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.banner{
  width: 100%;
}

.splash-img{
  width: 50%;
}

.about{
  padding: 20px;
  margin: 20px;
}
.enter{
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
 font-size: 30px;

  padding: 10px;
  font-weight: bold;
}

.enter-container{
  width: 100%;
}
